/* Base variables and resets ------------ */
:root {
  --dark: #040d12;
  --light-dark: #131d22;
  --pure-light: #f0f0f0;
  --light: #e0e2db;
  --dark-green: #183d3d;
  --green: #5c8374;
  --light-green: #93b1a6;
  --gold: #ffc857;
  --light-gold: #ffc482;
}
@font-face {
  font-family: "title";
  src: url("../public/fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "defaultFont";
  src: url("../public/fonts/Lexend-Regular.ttf");
}
@font-face {
  font-family: "defaultBold";
  src: url("../public/fonts/Lexend-Bold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: defaultFont, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background-color: var(--light);
  transition: 0.5s ease;
}
body:has(dialog[open]) {
  overflow-y: hidden;
}
main {
  margin: 0;
  margin-top: 80px;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  padding: 0;
  margin: 0;
}

/* Navigation ------------ */
header {
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
}
nav {
  background-color: var(--dark);
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.33);
}
.topnav {
  background-color: var(--dark);
  position: relative;
  height: 80px;
}

.topnav #myLinks {
  display: none;
  background-color: var(--dark);
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 2em;
  color: var(--green);
  display: flex;
  align-items: center;
}
.topnav a.icon:hover {
  height: 100%;
  color: var(--light-green);
  cursor: pointer;
}
.active {
  background-color: #04aa6d;
  color: white;
}
.nav-title {
  font-size: 1.6em;
  color: var(--green);
  height: 40px;
  font-family: title, sans-serif;
}
.nav-link {
  font-size: 1em;
}
.nav-link:hover {
  color: var(--light-green);
  cursor: pointer;
}
.nav-title:hover {
  color: #93b1a6;
  cursor: pointer;
}
.nav-right {
  color: var(--light-green) !important;
}
.nav-right:hover {
  color: var(--green) !important;
}

/* Mini nav ------------ */
.mini-nav-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.mini-nav-element {
  list-style: none;
  margin: 0 10px;
  padding: 10px;
  color: var(--green);
  border: solid var(--green) 3px;
  border-radius: 20px;
}
.mini-nav-element:hover,
.mini-nav-element:active {
  cursor: pointer;
  color: var(--light);
  border: solid var(--green) 3px;
  background-color: var(--light-green);
}
.mini-nav-element:hover .mini-nav-text {
  color: var(--light);
}
.mini-nav-text {
  color: var(--dark-green);
}
/* Article Section ------------ */
section {
  margin: auto;
  width: 90%;
}

.frontpage-section {
  width: 100%;
  background-color: #040d12;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.main-bg-img {
  width: 100%;
  height: 300px;
  background-image: url("../public/images/burger4.avif");
  background-position: center;
  background-size: cover;
  right: 0;
}
.frontpage-text-container {
  height: 80px;
}
.frontpage-section h2 {
  color: var(--light);
  padding: 1em;
  width: 33.333%;
  float: left;
  text-align: center;
  font-size: 1.2em;
}
.frontpage-section p {
  display: none;
}
.car-svg {
  fill: var(--light);
  transition: all 1s ease;
  height: 100%;
  width: 33.333%;
  margin-top: auto;
  bottom: 0;
  float: left;
}
.order-now {
  background-color: var(--green);
  padding: 20px;
  width: 33.333%;
  line-height: 40px;
  text-align: center;
  height: 100%;
  color: var(--light);
  font-weight: bold;
  font-size: 1.1em;
  border-bottom-right-radius: 20px;
  float: right;
}
.order-now:hover {
  background-color: var(--light-green);
  font-size: 1.2em;
}
article {
  background-image: url("../public/images/bg.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 400px;
  border-radius: 20px;
  padding: 3rem 2rem;
  -webkit-box-shadow: inset 0px 0px 56px -6px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: inset 0px 0px 56px -6px rgba(0, 0, 0, 0.68);
  box-shadow: inset 0px 0px 56px -6px rgba(0, 0, 0, 0.68);
  max-width: 900px;
  display: flex;
  flex-direction: column;
}
.burger-image {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 300px;
  margin: auto;
  border-radius: 20px;
  transition-duration: 1s;
  background-image: url("../public/images/burger.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #6b9484;
  display: block;
}
.restaurant-map:hover .burger-image,
.restaurant-map:focus .burger-image {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.restaurant-map {
  height: 50%;
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}

aside {
  height: 50%;
  width: 100%;
  color: var(--light);
  font-size: 1em;
  text-align: center;
}
.aside-container {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
.aside-container h2 {
  font-family: defaultBold, sans-serif;
}
.order-now-img {
  position: absolute;
  width: 100px;
  top: 0;
  right: 50%;
  transform: translate(50%, -60%);
  transition-duration: 0.5s;
  background-position: center;
  background-size: cover;
}
.order-now-img:hover {
  width: 125px;
  cursor: pointer;
}

/* menu ----------------- */
.menu-filter-title {
  text-align: center;
  font-family: defaultBold, sans-serif;
  color: var(--green);
  margin: 20px 0;
}
.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0px;
  margin-bottom: 20px;
}
.menu-item-container {
  background-color: var(--pure-light);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px var(--light-green);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.26);
}
.menu-item-container:hover {
  border-color: var(--dark-green);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(92, 131, 116, 1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(92, 131, 116, 1);
  box-shadow: 0px 0px 10px 2px rgba(92, 131, 116, 1);
}
.menu-item-container:hover .restaurant-image-background {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.restaurant-image-background:hover {
  cursor: pointer;
}
.menu-item-container:hover img {
  transition: ease 1.5s;
  transform: scale(0.7);
}
.first-restaurant-info {
  width: 50%;
}
.first-restaurant-info h3 {
  background: -webkit-linear-gradient(var(--light-gold), var(--gold));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.first-menu-item-container {
  grid-column: span 2; /* Span across all three columns */
  background-color: var(--pure-light);
  color: var(--dark);
  padding: 20px;
  border: 3px solid var(--dark);
  border-radius: 20px;
  text-align: center;
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(147, 177, 166);
  background: linear-gradient(
    121deg,
    rgba(147, 177, 166, 1) 13%,
    rgba(92, 131, 116, 1) 48%,
    rgba(24, 61, 61, 1) 98%
  );
}
.first-menu-item-container:hover {
  cursor: pointer;
}
.first-menu-item-container .menu-item-container {
  background: transparent;
  padding: 0;
  width: 50%;
  border: solid 2px var(--dark-green);
  color: var(--pure-light);
}
.first-menu-item-container .menu-food-title {
  background: -webkit-linear-gradient(var(--light-gold), var(--gold));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.first-menu-item-container .menu-food-image {
  background: none;
}
.first-menu-item-container button {
  background-color: var(--green);
  color: var(--pure-light) !important;
  border: solid 1px var(--dark-green) !important;
}
.first-menu-item-container .restaurant-image-background {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.first-menu-item-container .menu-ingredients {
  color: var(--pure-light);
}
.restaurant-image-background {
  background-image: url("../public/images/background.avif");
  background-size: contain;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.menu-food-image {
  width: 100%;
  margin: auto;
  display: block;
  margin-top: 0;
  padding: 1em;
  transform: scale(0.5);
  transition: ease 0.7s;
}
.menu-food-title {
  font-family: defaultBold, sans-serif;
  color: var(--green);
  margin: 10px 0;
}
.menu-ingredients {
  color: var(--dark-green);
  margin-bottom: 10px;
  font-size: 0.9em;
}
.menu-text {
  margin-bottom: 10px;
}

.add-to-cart-btn {
  background-color: var(--green);
  width: 100%;
  max-width: 200px;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 0;
  color: var(--light);
  font-weight: bold;
  font-size: 1em;
  border-radius: 10px;
}
.show-all-restaurants-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.show-all-restaurants-button {
  padding: 20px 30px;
  border: 1px var(--dark-green) solid;
  border-radius: 10px;
  background-color: var(--green);
  color: var(--pure-light);
  font-size: 1.2em;
  transform: scale(0.8);
  transition: 1s ease;
}
.show-all-restaurants-button:hover {
  cursor: pointer;
  background-color: var(--light-green);
  color: var(--dark-green);
  transform: scale(1);
}
/* Footer ----------------- */

footer {
  width: 100%;
  height: 100px;
  background-color: var(--green);
  bottom: 0;
}
.footer-text {
  color: var(--light);
  font-size: 1.2em;
  text-align: center;
  line-height: 100px;
}

/* Modal------------------- */
.dialog-close-button {
  width: 40px;
  height: 40px;
  min-width: 40px;
  margin-left: auto;
  background-color: var(--green);
  border: solid 2px var(--dark-green);
  border-radius: 5px;
}
.dialog-close-button:hover {
  background-color: var(--light-green);
  cursor: pointer;
}
dialog {
  position: fixed;
  padding: 1.5em;
  margin: auto;
  z-index: 2;
  background-color: var(--pure-light);
  border-radius: 20px;
  text-align: center;
  outline: none;
  max-width: 900px;
}
dialog::backdrop {
  backdrop-filter: blur(2px);
} /*
dialog h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--green);
  margin-bottom: 20px;
}*/
.dialog-company-container {
  display: flex;
  justify-content: space-evenly;
}
.dialog-company-container img {
  display: block;
  width: 250px;
  margin-bottom: 20px;
}
.dialog-left-info {
  width: 250px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.course-nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.course-nav button {
  width: 50%;
  height: 40px;
  margin: 0 10px;
  border-radius: 5px;
  outline: none;
  border: solid 2px var(--light-green);
  color: var(--dark-green);
}
.course-nav button:hover {
  cursor: pointer;
  background-color: var(--light-green);
  border-color: var(--dark-green);
  color: var(--pure-light);
}
.dialog-left-info a {
  outline: none;
}
.dialog-company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table-container {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  margin: 25px 0;
  border: 2px solid var(--dark-green);
  border-radius: 10px;
}
::-webkit-scrollbar {
  background: var(--light);
  border-radius: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--light-green);
  border-radius: 10px;
}
.sticky-row {
  position: sticky;
  top: -1px;
  background-color: #3498db;
  color: white;
  z-index: 1; /* Ensure it appears above other rows */
}
dialog table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
  font-family: Arial, sans-serif;
  background-color: var(--light);
}
dialog table th,
dialog table td {
  border: 1px solid var(--green);
  padding: 10px;
  text-align: left;
}
dialog table th {
  background-color: var(--green);
  color: var(--light);
}
dialog table tbody tr:nth-child(even) {
  background-color: var(--light-green);
}

dialog table tbody tr:hover {
  background-color: var(--green);
  color: var(--pure-light);
}
.date-tr {
  color: var(--pure-light);
  background: rgb(147, 177, 166);
  background: linear-gradient(
    121deg,
    rgba(24, 61, 61, 1) 13%,
    rgba(92, 131, 116, 1) 48%,
    rgba(147, 177, 166, 1) 98%
  );
}

.modal-input {
  align-self: flex-start;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 0.8rem;
  outline: none;
  border: 2px solid var(--dark-green);
  border-left: 5px solid var(--dark-green);
  transition: border-left 1s;
  border-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
}
.modal-input:valid {
  border-left-color: var(--light-green);
  /* background-color: var(--light-green); */
}
.modal-input:invalid {
  border-left-color: #d21900;
}
.buttons-container button {
  display: inline;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: var(--light-green);
  color: var(--light);
}
.buttons-container button:hover {
  cursor: pointer;
}
.modal-focus {
  border-color: var();
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
  border: 2px grey solid;
  border-radius: 10px;
  margin-bottom: 40px;
}
.form-button {
  padding: 10px 20px;
  background-color: var(--green);
  color: var(--pure-light);
  border-radius: 10px;
  border: solid 2px var(--dark-green);
  font-size: 1em;
  transform: scale(0.9);
  transition: 0.5s ease;
}
.form-button:hover {
  background-color: var(--light-green);
  transform: scale(1);
  cursor: pointer;
}
.forms-top-container {
  display: flex;
  align-items: center;
}
.forms-top-container button {
  margin-left: auto;
}

.slider-label {
  flex: 1;
  text-align: center;
  font-size: 0.9em;
}

.slider-checkbox {
  display: none;
}

.slider-label {
  cursor: pointer;
  padding: 10px 30px;
}
#login-label {
  background: rgb(92, 131, 116);
  background: linear-gradient(
    90deg,
    rgba(92, 131, 116, 1) 22%,
    rgba(147, 177, 166, 1) 69%
  );
  color: var(--pure-light);
}
#register-label {
  background-color: var(--light);
  background-color: var(--pure-light);
  color: var(--dark);
}
.slider-checkbox:checked ~ #login-label {
  background: var(--pure-light);
  background-color: var(--pure-light);
  color: var(--dark);
}
.slider-checkbox:checked ~ #register-label {
  background: rgb(92, 131, 116);
  background: linear-gradient(
    -90deg,
    rgba(92, 131, 116, 1) 22%,
    rgba(147, 177, 166, 1) 69%
  );
  color: var(--pure-light);
}
/* Modal profile --  */
dialog:has(.dialog-profile-container) {
  background-color: var(--light);
}
.dialog-profile-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  overflow-y: auto;
  height: 100%;
  gap: 20px;
  overflow: visible;
}
.profile-item-container {
  background-color: var(--pure-light);
  border-radius: 10px;
  border: solid 1px var(--light-green);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.26);
}
.profile-item-container:hover {
  border-radius: 10px;
  border-color: var(--dark-green);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(92, 131, 116, 1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(92, 131, 116, 1);
  box-shadow: 0px 0px 10px 2px rgba(92, 131, 116, 1);
}
.dialog-profile-main {
  background: var(--light-green);
  border: 2px solid var(--dark-green);
  padding: 1em;
  max-width: 300px;
}
.profile-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
}
hr {
  margin-bottom: 10px;
}
.profile-side {
  width: 300px;
}
.profile-top h3 {
  justify-content: space-between;
}
.dialog-profile-main #profileImage {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid var(--dark);
  margin: auto;
  margin-bottom: 10px;
}
.dialog-profile-main h2 {
  font-size: 1.2em;
  font-family: defaultBold, sans-serif;
  margin-bottom: 20px;
}
.dialog-profile-main button {
  margin-top: 10px;
}
.profile-setting-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
#profilePicUploadInput {
  visibility: hidden;
}
.pfp-container {
  position: relative;
  display: inline-block;
  transform: scale(0.9);
  transition: 0.5s ease;
}
.pfp-container i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 2em;
}
.pfp-container:hover .fa-camera {
  opacity: 0.75;
}
.pfp-container:hover #profileImage {
  border: 3px solid var(--green);
}
.pfp-container:hover {
  cursor: pointer;
  transform: scale(1);
}

/* Dark mode styles*/
.dark-mode-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}
.dark-mode-container::before {
  content: "Light";
  display: block;
  color: var(--light-green);
  margin-right: 10px;
}
.dark-mode-container::after {
  content: "Dark";
  display: block;
  color: var(--pure-light);
  margin-left: 10px;
}
body.dark .dark-mode-container::before {
  color: var(--pure-light);
}
body.dark .dark-mode-container::after {
  color: var(--light-green);
}
.dark-mode-container:hover .dark-mode-icon {
  color: var(--light-green);
}
.dark-mode-icon {
  color: var(--pure-light);
}
body.dark {
  background-color: var(--light-dark);
} /* #9b59b6 */
body.dark .menu-item-container {
  background-color: var(--dark);
  transition: 0.5s ease;
}
body.dark .course-nav button {
  background-color: var(--light-dark);
  color: var(--pure-light);
}
body.dark .menu-food-title,
body.dark .menu-filter-title,
body.dark .course-nav button:hover {
  color: var(--light-green);
}
body.dark .menu-ingredients,
body.dark .mini-nav-text,
body.dark .menu-text {
  color: var(--light);
}
body.dark dialog {
  background-color: var(--dark);
  border-color: var(--light-green);
}
body.dark .dialog-left-info img {
  background-color: var(--light);
  border-radius: 20px;
  padding: 0.5em;
  border: 2px solid var(--light-green);
}
body.dark .dialog-company-container {
  color: var(--pure-light);
}
body.dark .forms-top-container h2 {
  color: var(--pure-light);
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox-label {
  background-color: var(--light-green);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease;
}
.fa-moon {
  color: var(--light-green);
}
.fa-sun {
  color: var(--light-gold);
}
.checkbox-label .ball {
  background-color: var(--green);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
.checkbox:checked + .checkbox-label {
  background-color: var(--dark-green);
}
body.dark .first-menu-item-container .course-nav button:hover {
  border-color: var(--light-green) !important;
  color: var(--light-green) !important;
}
body.dark .profile-side {
  background-color: var(--light-dark);
  color: var(--pure-light);
}
body.dark .profile-item-container hr {
  height: 1px;
  background-color: var(--light-green);
  border: none;
}

/* media rules -------------- */

/* XSS -------------- */
@media only screen and (max-width: 450px) {
  .aside-container h2 {
    font-size: 1.2em !important;
  }
  .aside-container p {
    font-size: 0.9em !important;
  }
  .order-now {
    font-size: 0.9em;
    padding: 20px 10px;
  }
  .mini-nav-element {
    margin: 0 3px;
  }
  .menu-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .first-menu-item-container {
    grid-column: span 1; /* Span across all three columns */
    flex-direction: column;
  }
  .mini-nav {
    width: 100%;
    margin: 0;
  }
}
/* XS -------------- */
@media only screen and (max-width: 550px) {
  .menu-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .first-menu-item-container {
    grid-column: span 1; /* Span across all three columns */
    flex-direction: column;
  }
  dialog {
    padding: 0.5em;
  }
  dialog table {
    font-size: 0.7em;
  }
  dialog table td,
  dialog table th {
    padding: 5px;
  }
  .dialog-close-button {
    margin: auto;
    margin-right: 0;
  }
  .dialog-company-container {
    flex-direction: column;
  }
  .dialog-left-info {
    width: 100%;
    margin-bottom: 10px;
  }
  .dialog-left-info img {
    margin: auto;
  }
  .course-nav {
    justify-content: space-evenly;
    margin: 10px 0;
  }
  .first-menu-item-container .menu-item-container {
    width: 100%;
    margin-top: 20px;
  }
  .first-restaurant-info {
    margin: 30px 0;
  }
}

/* S -------------- */
@media only screen and (min-width: 700px) {
  header {
    margin: auto;
    width: 80%;
  }
  section {
    width: 80%;
    margin: auto;
  }
  .restaurant-map-container {
    padding: 50px;
    height: 300px;
    margin: auto;
    flex-direction: row;
  }
  .burger-image {
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    box-shadow: 1px -1px 34px -2px rgba(0, 0, 0, 0.71) inset;
    -webkit-box-shadow: 1px -1px 34px -2px rgba(0, 0, 0, 0.71) inset;
    -moz-box-shadow: 1px -1px 34px -2px rgba(0, 0, 0, 0.71) inset;
  }
  .restaurant-map {
    width: 50%;
    height: 100%;
  }
  aside {
    margin-left: 0;
    float: left;
    width: 50%;
    height: 100%;
    color: var(--light);
  }
  .aside-container {
    margin: 0;
    padding-left: 10px;
  }
  .frontpage-section {
    display: flex;
    width: 80%;
    color: var(--light);
  }
  .frontpage-text-container {
    height: auto;
    align-items: center;
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  .main-bg-img {
    width: 60%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }
  .frontpage-section h2 {
    display: block;
    width: 100%;
  }
  .frontpage-section p {
    display: block;
    padding: 10px 30px;
    text-align: center;
  }
  .order-now {
    width: 100%;
    max-height: 80px;
  }
  .car-svg {
    fill: var(--light);
    transition: all 1s ease;
    height: 80px;
    margin-top: auto;
    bottom: 0;
  }
  .nav-right {
    background-color: var(--green);
    border-radius: 20px;
    transition: transform 0.3s ease;
    color: var(--light) !important;
  }
  .nav-right:hover {
    background-color: var(--light-green);
    transform: scale(1.1);
  }
  .topnav {
    display: flex;
    height: 80px;
  }
  .topnav a.icon {
    display: none;
  }
  .nav-title-parent {
    width: 30%;
  }
  #myLinks {
    display: flex !important;
    width: 70%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .order-now-img {
    position: absolute;
    width: 100px;
    top: 0;
    right: 10px;
    transform: translate(40%, -40%);
    transition-duration: 0.5s;
    background-position: center;
    background-size: cover;
  }
  .menu-container {
    padding-right: 0;
    padding-left: 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .first-menu-item-container {
    grid-column: span 2; /* Span across all three columns */
  }
  .dark-mode-container {
    margin-right: 10px;
  }
  .dark-mode-container::before {
    content: "";
    display: none;
  }
  .dark-mode-container::after {
    content: "";
    display: none;
  }
  .dialog-profile-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .dialog-profile-main {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  .dialog-profile-settings {
    grid-column: 2 / 3;
  }
  .dialog-profile-favourite {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
}

/* M -------------- */
@media only screen and (min-width: 1100px) {
  header {
    margin: auto;
    width: 70%;
  }
  section {
    width: 70%;
    margin: auto;
  }
  .frontpage-section {
    width: 70%;
  }
  .main-bg-img {
    height: 400px;
  }
  .car-svg {
    height: 100px;
  }
  .menu-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .first-menu-item-container {
    grid-column: span 3; /* Span across all three columns */
  }
  .first-restaurant-info h3 {
    font-size: 1.5rem;
  }
  .first-restaurant-info h2 {
    font-size: 2rem;
  }
}

/* XL -------------- */
@media only screen and (min-width: 700px) and (max-width: 900px) {
  .nav-title-parent {
    width: 15%;
  }
  #myLinks {
    width: 85%;
  }
}

/* XXL -------------- */
@media only screen and (min-width: 1400px) {
  .frontpage-section h2 {
    font-size: 2em;
  }
  .frontpage-section p {
    text-align: center;
    font-size: 1.5em;
  }
  .menu-container {
    gap: 24px;
  }
}

/* XXXL [Widescreen limits] -------------- */
@media only screen and (min-width: 2000px) {
  header {
    max-width: 1200px;
    margin: auto;
  }
  section {
    max-width: 1200px;
    margin: auto;
  }
}
